@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	width: 100%;
	height: 100vh;
	background: #22262AD8;
	display: flex;justify-content: center;align-items: center;
}
.todobox{
	width: 500px;
	min-height: 430;
	background: #fff;
	border-radius: 20px;
/*	filter: drop-shadow(0px 10px 3px #333);*/
	box-shadow: 0 1px 2px 1px #9999;
	transform: scale(0.8);
}
.createTobox{
	height: 80px;width: 100%;
	overflow-y: hidden;
	box-shadow: 0 1px 2px 1px #9999;
	border-radius: 20px;
	padding: 5px 15px;
}
.createTobox input{
	resize: none;
	width: 85%;
	box-shadow: 0 1px 2px 1px #9999;
	border: 1px solid #06AEF8FF;
	border-radius: 20px;
	outline: none;
	padding: 5px 10px;
	font-size: 21px;
	color:#06AEF8FF ;
}
.createTobox .btnAdd{
	border: none;
	padding: 12px 10px;
	background: #0A5A75FF;
	color: #fff;
	border-radius: 20px;
	width: 13%;
	cursor: pointer;

}
.createTobox h1{
	display: inline-block;
	margin: 20px 15px;
	color: #0A5A75FF;
}
.plus{
	display: inline-block;
	float:right;
	margin: 18px 15px;
	font-size:25px;
	transition: 1s ease;
	cursor: pointer;
	padding: 10px 13px;
	color: #0A5A75FF;
	border-radius: 100%;
}
.plus:hover{
	background:#06AEF8FF ;
	color: #fff;
	box-shadow: 0 0 12px 1px #06AEF8FF;
}


/*Result*/
.resultTobox{
	padding: 10px 15px;
	height: 350px;
	overflow: auto;
}
.item{
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	min-height: 50px;
	box-shadow: 0 1px 4px 3px #9999;
	border-radius:25px;
	cursor: pointer;
	transition: 1s ease;
	font-weight: 500;
	font-size: 20px;
	position: relative;
	background: #fff;
}
.item:hover{
	box-shadow: 0 1px 4px 3px #0F688EBE;
}
.loaderBox1{
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1095;
	transition: 1.5s ease;
}
.loader{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 20px solid #06AEF8FF;
	border-top-color:grey ;
	filter:drop-shadow(0 0 20px #06AEF8FF);
	animation: loader 3s infinite;
}
@keyframes loader{
	100%{
		transform: rotate(360deg);
	}
}

.forget{
	color: #06AEF8FF;
	font-size: 15px;
	cursor: pointer;
}
.loaderBox{
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1075;
	transition: 1.5s ease;
}

.controls{
	position: absolute;
	right: 10px;
	top: 12px;
	background: ;
	border-radius: 5px;
	z-index: 1056;
	display: flex;
}
.controls span, .controls i, .controls div{
	transition: 1s ease;
	border-radius: 10px;
	padding: 5px;
}
.controls div:hover{
	background: grey;
}

.dot3{
	position:absolute;right: 15px;
	top: 5px;
	color: #5676EAFF;
}
.both{
	clear: both;
}
.delete{
	color: crimson;
	transition: 1s ease;
}

.delete:hover{
	background: crimson!important;
	color: #fff;
}

.copy:hover{
	background: grey;

}
.block{
	display: block!important;
	transition: 1s ease;
}

.open{
	height: 150px!important;
	transition: 1s ease;
}
.close{
	height: 80px!important;
	transition: 1s ease;
}
.closeDot{
	display: none;
	transition: 1s ease;
}
label{
	cursor: pointer;
}
input[type="checkbox"]{
	width: 20px;height: 20px;
	cursor: pointer;
	background: crimson;
}
input:checked ~ input[type="checkbox"] {
  background-color: #2196F3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196F3;
  transition: 1s ease;
  border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #13A4EBFF;
}
label{
	text-transform: capitalize;
}
.infoLine{
	text-decoration:line-through!important;
}
.bgG{
	background: #13A4EBFF;
	color: #fff;

}
.bgG:hover{
	box-shadow: 0 0 3px 2px #13A4EBFF;
}
.true{
	text-decoration: line-through;
}
.false{
	text-decoration: none;
}
.editBox{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #30384193;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	z-index: 1065;
	
	transition:.5s ease;
}
.box{
	width: 350px;
	height: 400px;
	background: #fff;
	border-radius: 20px;
	position: relative;
}
.headE, .footE{
	height: 50px;
	border-radius: 20px;
	box-shadow: 0 0 3px 2px #999;
}
.headE h1{
	display: inline-block;
	margin: 5px 15px;
	color: #0A5A75FF;
}
.footE{
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}
infoLine
.footE button{
	padding: 5px 35px;
	margin: 5px;
	height: 80%;
	background: #13A4EBFF;
	color: #fff;
	position: absolute;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
.footE button:first-child{
	right:120px;
}
.footE button:nth-child(2){
	right: 0;
}
.editInput{
	margin: 5px;
	height: 285px;
	width: 97%;
	outline: none;
	font-size: 20px;
	resize: none;
	padding: 5px;
	border:2px solid #13A4EBFF;
	border-radius: 5px;
}
.filter{
	padding: 10px 10px;
	display: inline-block;
	cursor: pointer;
	font-size: 20px;
	margin: 5px;
}
.filter .filterI{
	font-size:20px;
	margin-right: 5px;
}
.clear{
	float: right;
	display: inline-block;
}
.clear button{
	margin: 10px;
	padding: 5px 15px;
	border-radius: 10px;
	border:none;
	background: crimson;
	color: #fff;
	cursor: pointer;
	border: 1px solid crimson;
	transition: 1s ease;
	font-size: 18px;
}
.clear button:hover{
	background: #fff;
	color: crimson;
}
.modalF span{
	transition: 1s ease;
	padding: 10px 10px;
	margin: 5px;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
}
.active{
	color: #13A4EBFF;
	font-weight: bold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.password, .password1{
	width: 300px;
	height: 300px;
	box-shadow:0 0 3px 2px #999;
	border-radius: 15px;
	padding: 10px ;
}
.password h1{
	text-align: center;
	color: #13A4EBFF;
}
.password input{
	width: 100%;
	padding: 5px 10px;
	font-size: 20px;
	margin-top: 5px;
	outline: none;
	border:none;
	border-bottom: 1px solid grey;
}
.password label{
	color: #13A4EBFF;
}
.password button{
	padding: 10px 15px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #13A4EBFF;
	background: #fff;
	margin-top: 35px;
	cursor: pointer;
	font-size: 20px;
	transition: 1s ease;
}
.password button:hover{
	background: #13A4EBFF;
	color: #fff;
}